# This is a basic workflow to help you get started with Actions

name: Deployment

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
    
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [12.x]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install
        
      - name: Build
        run: npm build
        
      - name: Deploy
        run: |
          git config --global user.name tomijaga
          git config --global user.email jagatomi12@gmail.com
          git config user.email
          git config user.name
          git remote set-url origin https://59fbd471550a88baf605aca0d7d90b1569f93316@github.com/open-blockchain-explorer/Website
          git remote -v
          npm run deploy
